/* Configurações */
:root {
    font-size: 62.5%;
}

body{
    margin: 0;
    background-color: #69BFA0;
}

/* header  */

header{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 0 5rem;
}

header .texto h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #ffffff;
}

header .icone img{
    width: 3rem;
}

/* Imagem grande */

.ImagemGrandeDoMeio{
    display: grid;
    justify-content: center;
}

.ImagemGrandeDoMeio .QuadroBranco{
    width: 110rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: #FFFFFF;
}

.ImagemGrandeDoMeio .Nav{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 5rem;
}

.ImagemGrandeDoMeio .Nav a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #FFFFFF;
}

.ImagemGrandeDoMeio .Nav .active{
    font-weight: 900;
}

/* Quadros brancos */

.QuadrosMenores{
    display: grid;
    justify-content: center;
}

.GrandeDeQuadros{
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.GrandeDeQuadros .quadro{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
}